<h1>Tasks</h1>

<form action="/habits/create" method="POST">
    <input type="text" name="habit" placeholder="Enter Habit" required>
    <input type="text" name="frequency" placeholder="Frequency" required>
    <input type="text" name="streak" placeholder="Streak" required>
    <input type="submit" value="Submit">
</form>