<h1>Tasks</h1>

<%= user.name %>

<form action="/habits/create" method="POST">
    <input type="text" name="habit" placeholder="Enter Habit" required>
    <label>Frequency</label>
    <select name="frequency">
        <option selected>Daily</option>
        <option>Weekly</option>
        <option>Twice a Day</option>
    </select>
    <label>Time</label>
    
    <input type="submit" value="Submit">
</form>

<a href="/view">Habits</a>

<div>
    <%= locals.user.id %>
    <ul>
        <% for (habit of habits){ %>
        
                <% if(locals.user.id == habit.user){ %>
                        <li>
                            <%= habit.content %>
                            <a href="/habits/delete/<%= habit.id %>">Delete</a>
                        </li>
                <% } %>
        <% } %>
    </ul>
</div>